dvc[gs]
google-cloud-storage
mlflow
fastapi
uvicorn
pandas
scikit-learn
fairlearn
shap
pytest
python-dotenv
dvc[gcs]
dvc
opentelemetry-api
opentelemetry-sdk
opentelemetry-instrumentation-fastapi
matplotlib
requests
scipy
